@tailwind base;
@tailwind components;
@tailwind utilities;

/*css*/

@layer base {
	body {
		font-family: "DM Sans", sans-serif;
		color: #222222;
		font-weight: 400;
		font-style: normal;
	}
}

@layer components {
	.container {
		@apply max-w-[1150px];
	}
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.times {
	transform: rotate(180deg);
}

.auto {
	margin: 0 auto;
}
.radius-b {
	border-top-left-radius: 6px;
}

.is-active {
	color: #086cf9;
}

.translateY {
  min-height: 1200%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
  background: #252525;
	transform: translateX(-400%);
	transition: transform 0.5s ease-in-out;
}

.active-block {
	min-height: 1200%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
  background: white;
  transform: translateX(0%);
	transition: transform 0.5s ease-in-out;
}

.body-lock {
	overflow: hidden;
}
.span {
  display: block;
  min-width: 30px;
  min-height: 2.5px;
  background: black;
  margin-bottom: 4px;
}

.span:last-child {
  margin-bottom: 0;
}

.one {
  transform: rotate(45deg);
	transition: transform 0.3s;
	position: absolute;
	right: 0;
	top: 10px;
}

.two {
  transform: translate(150%);
	transition: transform 0.5s;
}

.false-two {
	transition: transform 0.5s;
}

.tree {
  transform: rotate(-45deg);
	transition: transform 0.3s;
	position: absolute;
	right: 0;
	top: 10px;
}
